p, a, h1, h3 {
  margin: 0;
}

body {
  background-color: white;
  color: #333333;
}

/* 装飾 */

.border {
  border: 1px solid black;
  border-radius: 4px;
}

.border-gray {
  border: 1px solid gray;
}

.radius-4 {
  border-radius: 16px;
}

.bg-primary {
  background-color: #B0E0E6;
}

.bg-white {
  background-color: white;
}

/* レイアウト */

.flex {
  display: flex
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}

.block {
  display: block;
}

/* 要素固有 */

.tabs {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.tab {
  width: 128px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 12px;

  text-align: center;
  font-weight: bold;

  cursor: pointer;
  background-color: white;

}

.tab:hover {
  background-color: #F8F8F8;
}

.tab.active {
  background-color: #B0E0E6;
}

.tab.active:hover {
  background-color: #A8D8DD;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.btn {
  border: none;
  border-radius: 8px;

  background-color: #B0E0E6;
  padding: 12px 20px;

  cursor: pointer;
}

.btn:hover {
  background-color: #A8D8DD;
}

.floating-tr {
  position: fixed;
  bottom: 24px;
  right: 24px;

  box-sizing: border-box;

  z-index: 100;
  cursor: grab;
  user-select: none;
}

.dragging {
  cursor: grabbing;
}

/* タイポグラフィ */

.bold {
  font-weight: bold;
}

.leading-8 {
  line-height: 32px;
}

.text-center {
  text-align: center;
}

.text-animation-2 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  line-height: 64px;

  content-visibility: hidden;
  opacity: 0;

  transition:
    content-visibility 5s allow-discrete,
    opacity 5s;
}

.text-animation-2.show {
  content-visibility: visible;
  opacity: 1;
}

/* 余白 */

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-4 {
  padding: 16px;
}

.p-8 {
  padding: 32px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* サイズ */

.w-32 {
  width: 128px;
}

.w-64 {
  width: 256px;
}

.h-16 {
  height: 64px;
}

.h-32 {
  height: 128px;
}

.h-64 {
  height: 256px;
}

/* アニメーション */

.black-to-gray {
  background-color: black;
  scale: 1;
  transition:
    background-color 0.1s,
    scale 0.1s;
}

.black-to-gray:hover {
  background-color: gray;
  scale: 1.05;
}